
<nav class="navbar">
    <div class="logo-header">
    <%= link_to root_path do %>
    <%= image_tag('logo-camping.png') %>
    <% end %>
    <h1 class="text-align-left">Campyr</h1>
</div>
<div class="d-flex">
  <% if user_signed_in? %>
    <a href="/campsites/new">List your campsite</a>
    <% else %>
    <a data-toggle="modal" data-target="#ModalSignin" href="/campsites/new">List your campsite</a>
      <%= render "partials/list_campsite"%>
    <% end %>

     <% if user_signed_in? %>
   <div class="nav-item active">
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navlink"  %>
     <%= link_to "Dashboard", dashboard_path(@user), class: "navlink"  %>
   </div>
        <% else %>
    <div class="nav-item active d-flex">
      <a data-toggle="modal" data-target="#ModalSignin" href="">Sign in</a>
      <%= render "partials/sign_in"%>
    </div>
    <div class="nav-item active">
      <a data-toggle="modal" data-target="#ModalSignup" href="">Sign up</a>
      <%= render "partials/modal_signup"%>
    </div>
  <% end %>

  </div>
  </nav>
