<div class="navbar border-bottom">
  <div>
    <%= link_to root_path do %>
      <%= image_tag('logo-camping.png') %>
    <% end %>
  </div>
  <nav>
      <a href="/campsites/new">list your campsite</a>
      <a data-toggle="modal" data-target="#ModalSignup" href="">sign up</a>
      <%= render "partials/modal_signup"%>
      <a data-toggle="modal" data-target="#ModalSignin" href="">sign in</a>
      <%= render "partials/sign_in"%>
  </nav>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path 'background.jpg' %>');">

  <div class="search-form">
      <div class="row justify-content-center pt-3">
        <div class="col-sm-10">
          <h2 class="mb-4 text-align-center">Search your next trip</h2>
          <form>
            <div class="form-row">
              <div class="col-sm-10 form-group">
                <label>Where do you want to camp?</label>
                <input type="text" class="form-control" placeholder="city">
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-10 form-group">
                <label>Check in</label>
                <input type="email" class="form-control" placeholder="date">
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-10 form-group">
                <label>Check out</label>
                <input type="text" class="form-control" placeholder="date">
              </div>
            </div>
              <!-- drop down -->
            <div class="form-row">
              <div class="col-sm-10 form-group">
                <label for="exampleFormControlSelect1">How many people?</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <%=link_to "search campsites", campsites_path, class:"btn btn-warning font-weight-bold col-sm-10 form-group p-3"%>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="footer">
  <!-- <p>Follow us</p> -->
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
