<% render "partials/search_form" %>
<div class="navbar border-bottom">
  <div>
    <%= link_to root_path do %>
    <%= image_tag('logo-camping.png') %>
    <% end %>
  </div>
  <nav>
    <a href="/campsites/new">list your campsite</a>
    <a data-toggle="modal" data-target="#ModalSignup" href="">sign up</a>
      <%= render "partials/modal_signup"%>
      <a data-toggle="modal" data-target="#ModalSignin" href="">sign in</a>
      <%= render "partials/sign_in"%>
  </nav>
</div>

<div class="main-container">
  <div class="campsite-container">
    <% @campsites.each do |campsite| %>
    <%= link_to(campsite_path(campsite)) do %>
    <div class="campsite-card ">
      <%= cl_image_tag(campsite.photo) %>
      <div class="campsite-card-infos">
        <div>
          <h2><%= campsite.name %></h2>
        </div>
        <h2 class="campsite-card-pricing"><%= campsite.price %>€</h2>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


