<%= render "partials/navbar_signed_in"%>

  </nav>
</div>

<div class= "main-container">
  <div class ="listing-container">

    <div class="listing-form">

      <h2>Create a new listing</h2>
      <%= simple_form_for([@user, @campsite]) do |f| %>
      <div class="form-inputs px-3">

        <%= f.input :name %>
        <%= f.input :description%>
        <%= f.input :address %>
        <%= f.input :price %>

        <%= f.input :photo %>
      </div>

      <div class="form-inputs px-3">
        <%= f.button :submit,  class: "btn btn-warning font-weight-bold p-3 col-sm-12"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
