<div class="navbar border-bottom">
  <div>
    <%= link_to root_path do %>
    <%= image_tag('logo-camping.png') %>
    <% end %>
  </div>
  <nav>
    <a href="/campsites/new">list your campsite</a>
    <a href="">sign up</a>
    <a href="">sign in</a>
  </nav>
</div>

<div class= "main-container">
  <div class ="listing-container">

    <div class="listing-form">

      <h2>Create a new listing</h2>
      <%= simple_form_for([@user, @campsite]) do |f| %>
      <div class="form-inputs">

        <%= f.input :name %>
        <%= f.input :description%>
        <%= f.input :address %>
        <%= f.input :price %>

        <%= f.input :photo %>
      </div>



      <div class="form-actions">
        <%= f.button :submit,  class: "btn btn-warning font-weight-bold col-sm-12 form-group p-3"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
