

<div class="navbar border-bottom">
  <div>
    <%= link_to root_path do %>
      <%= image_tag('logo-camping.png') %>
    <% end %>
  </div>
  <nav>
      <a href="/campsites/new">list your campsite</a>
      <a href="">sign up</a>
      <a href="">sign in</a>
  </nav>
</div>

<div class="container">
  <h1><%= @campsite.name %></h1>

  <div class="campsite-image"><%= cl_image_tag('c8rmqup6qciryibmprkb')%>
  </div>
</div>

<div class="container d-flex">

  <div class="campsite-info">
    <p><%= @campsite.address %></p>
    <p><%= @campsite.description %></p>
  </div>
  <div class= "form">
    <p>Insert form</p>

</div>





