

<div class="navbar border-bottom">
  <div>
    <%= link_to root_path do %>
    <%= image_tag('logo-camping.png') %>
    <% end %>
  </div>
  <nav class="d-flex">
    <a href="/campsites/new">List your campsite</a>
      <% if user_signed_in? %>
   <div class="nav-item active">
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navlink"  %>
     <%= link_to "Dashboard", dashboard_path(@user), class: "navlink"  %>
   </div>
        <% else %>
    <div class="nav-item active d-flex">
      <a data-toggle="modal" data-target="#ModalSignin" href="">Sign in</a>
      <%= render "partials/sign_in"%>
    </div>
    <div class="nav-item active">
      <a data-toggle="modal" data-target="#ModalSignup" href="">Sign up</a>
      <%= render "partials/modal_signup"%>
    </div>
        <% end %>

  </nav>
</div>

<div class="main-container">

  <div class="container-info">
    <h1><%= @campsite.name %></h1>
    <div>
      <%= cl_image_tag(@campsite.photo, width: 1000, crop: :fill)%>
    </div>
    <div>
      <div>
        <p><strong>Address: </strong><%= @campsite.address %></p>
        <p><strong>About this campsite: </strong><br><%= @campsite.description %></p>
      </div>
    </div>
  </div>

  <div class="booking-form border">
<% if @campsite.user == current_user %>
<div class="row justify-content-center pt-3">
      <div class="col-sm-10">
        <h2 class="mb-4 text-align-center">This is your campsite</h2>
      </div>
      <% else %>
    <div class="row justify-content-center pt-3">
      <div class="col-sm-10">
        <h2 class="mb-4 text-align-center">Book this campsite</h2>
        <%= simple_form_for([@campsite, @reservation]) do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-inputs">

    <%= f.input :arrival%>
    <%= f.input :departure%>

  </div>
      <div class="col-sm-10 form-group">
            <p><strong>Price per night: <%= @campsite.price %>€</strong></p>
            <p><strong>Total: 150€</strong></p>
          </div>
      </div>

  <div class=" text-white form-actions">
    <%= f.button :submit , class: "btn btn-warning"%>
  </div>
<% end %>

<% end %>
    </div>
  </div>
</div>

<div class="footer">
  <!-- <p>Follow us</p> -->
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>






